API_BASE_URL=
CHATBOT_API_KEY=
KNOWLEDGE_API_KEY=
DIFY_USER=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_EMBEDDING_DEPLOYMENT_ID=
AZURE_DEPLOYMENT_ID=
OPENAI_API_VERSION=
EXTERNAL_KNOWLEDGE_API_KEY=
VECTOR_STORE_PATH=
USE_NGROK_FOR_EXTERNAL_KNOWLEDGE=false
NGROK_AUTH_TOKEN=